#WheelButtonPage {
  display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
input#spin {
  border: 5px solid red ; 
  padding: 10px;
  display: block;
  margin-left: 35%;
  margin-right: auto;
  width: 30%;    
}
input#spin {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
input#spin:hover {
  background-color: #4CAF50;
  color: white;
}
h1 {
  text-align: center;
}
body {
  background-color: rgb(96, 182, 10);
}
button {
  border: none;
  background-color: rgb(4, 250, 107);
  padding: 10px;
  margin: 10px;
}
#navBar {
  display: flex;
  justify-content: center;
}
a {
  font-size: 16px;
  margin: 5px;
}
#logo {
  display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#button1 {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#button1:hover {
  background-color: #4CAF50;
    color: white;
}
#button2 {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#button2:hover {
  background-color: #4CAF50;
    color: white;
}
#button3 {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#button3:hover {
  background-color: #4CAF50;
    color: white;
}
#HomePage {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#HomePage:hover {
  background-color: #4CAF50;
    color: white;
}
#wheelButton {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#wheelButton:hover {
  background-color: #4CAF50;
    color: white;
}
#log {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#log:hover {
  background-color: #4CAF50;
    color: white;
}
.singleInput2 {
  margin-left: 5.2%;
  margin-top: 2%;
}
#date {
  margin-left: 50%;
  margin-right: auto;
}
#submitButton {
  background-color: white; 
  color: black; 
  border: 5px solid #4CAF50;
  transition-duration: 0.4s;
  cursor: pointer;
}
#submitButton:hover {
  background-color: #4CAF50;
    color: white;
}
#final:hover {
  background-color: #4CAF50;
    color: white;
}
.allMessages {
  display: none;
}
